.ant-layout {
  background-color: var(--layout-bg) !important;
}
.main-layout {
  background-color: var(--layout-bg);
  min-height: 100vh;
  scroll-behavior: smooth;
}
.main-side {
  background-color: var(--layout-bg) !important;
  height: 100vh !important;
  max-height: 100vh !important;
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  @media (max-width: 768px) {
    display: none;
  }
}
.responsive-header {
  @media (min-width: 769px) {
    display: none;
  }
}
