.invoice-card-container {
  display: flex;
  align-items: baseline;
  background-color: var(--invoice-card-bg);
  justify-content: space-between;
  max-width: 730px;
  min-width: 100%;
  padding: 17px 24px 17px 32px;
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
  font-size: 12px;
  flex-wrap: wrap;
  cursor: pointer;
  @media (max-width: 768px) {
    align-items: center;
    gap: 24px;
  }
  &:hover {
    border: solid 1px #7c5dfa;
  }
  &.selected {
    border: solid 1px #7c5dfa;
  }
  &__id {
    color: var(--invoice-card-id-color);
    font-weight: bold;
    margin-bottom: 0;
    min-width: 60px;
    span {
      color: var(--invoice-card-id-hash-color);
    }
  }
  &__name {
    color: var(--invoice-card-name);
    margin-bottom: 0;
    min-width: 90px;
    text-align: left;
  }
  &__duedate {
    color: var(--invoice-card-date);
    margin-bottom: 0;
    min-width: 106px;

    span {
      color: var(--invoice-card-date-span);
      margin-left: 5px;
    }
  }
  &__amount {
    color: var(--invoice-card-amount);
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    min-width: 100px;
    text-align: left;
  }
  &__status {
    border-radius: 6px;
    padding: 13px 17px 12px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 104px;
    height: 40px;
    &.status-1 {
      color: var(--invoice-card-status-draft-color);
      background-color: var(--invoice-card-status-draft-bg);
    }
    &.status-2 {
      color: var(--invoice-card-status-pending-color);
      background-color: var(--invoice-card-status-pending-bg);
    }
    &.status-3 {
      color: var(--invoice-card-status-paid-color);
      background-color: var(--invoice-card-status-paid-bg);
    }
  }
  &__mid-part {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 8px;
    }
  }
  &__cta-btn {
    fill: #7c5dfa;
    font-size: 12px;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
