.invoice-details-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 730px;
  margin: 72px auto 0;
  width: 70%;
  @media (max-width: 768px) {
    width: 90%;
    margin: 105px auto 0;
  }
  @media (max-width: 1200px) {
    width: 80%;
  }
  .back-btn {
    color: var(--invoice-card-amount);
    display: flex;
    gap: 24px;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    svg {
      color: #7c5dfa;
    }
  }
  .item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    p {
      margin-bottom: 0;
    }
  }
  .item-name {
    font-weight: bold;
    color: var(--form-main-title-color);
  }
  .item-info {
    color: var(--invoice-card-id-hash-color);
    font-weight: bold;
  }
  .item-total {
    font-size: 12px;
    color: var(--form-main-title-color);
    font-weight: bold;
  }
  &_header {
    background-color: var(--invoice-card-bg);
    padding: 20px 32px;
    border-radius: 8px;
    box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 10px;
    }
    &_status {
      &-wrapper {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          justify-content: space-between;
          width: 100%;
        }
        span:first-of-type {
          color: var(--invoice-details-header-color);
          margin-right: 16px;
        }
      }
      border-radius: 6px;
      padding: 13px 17px 12px 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      &.status-1 {
        color: var(--invoice-card-status-draft-color);
        background-color: var(--invoice-card-status-draft-bg);
      }
      &.status-2 {
        color: var(--invoice-card-status-pending-color);
        background-color: var(--invoice-card-status-pending-bg);
      }
      &.status-3 {
        color: var(--invoice-card-status-paid-color);
        background-color: var(--invoice-card-status-paid-bg);
      }
    }
    &_cta-btns {
      display: flex;
      gap: 8px;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  &_invoice {
    background-color: var(--invoice-card-bg);
    padding: 48px;
    border-radius: 8px;
    box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
    @media (max-width: 768px) {
      padding: 24px;
    }
    &_header {
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
      }
      &-name {
        display: flex;
        flex-direction: column;
        gap: 8px;
        p:first-of-type {
          span {
            color: var(--invoice-card-id-hash-color);
          }
          font-size: 16px;
          font-weight: bold;
          color: var(--invoice-card-id-color);
          margin-bottom: 0;
          @media (max-width: 768px) {
            font-size: 12px;
          }
        }
        p:last-of-type {
          color: var(--invoice-card-date-span);
          margin-bottom: 0;
          font-size: 12px;
          font-weight: 500;
        }
      }
      &-address {
        margin-bottom: 0;
        font-size: 11px;
        text-align: right;
        color: var(--invoice-card-date-span);
        font-weight: 500;
        @media (max-width: 768px) {
          text-align: left;
        }
      }
    }
    &_col {
      display: flex;
      flex-direction: column;
      gap: 12px;
      p:first-of-type {
        color: var(--invoice-card-date-span);
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 500;
      }
      p:last-of-type {
        color: var(--invoice-card-amount);
        margin-bottom: 0;
        font-size: 15px;
        font-weight: bold;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    &-body {
      display: flex;
      justify-content: space-between;
      margin-top: 21px;
      @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 30px;
      }
    }
    &-billto-info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @media (max-width: 768px) {
        margin-left: 10px;
      }
      &-address {
        margin-bottom: 0;
        font-size: 11px;
        color: var(--invoice-card-date-span);
        font-weight: 500;
      }
    }
  }
  &_summary {
    margin-top: 45px;
    .ant-table-thead > tr > th {
      border-bottom: none;
      background-color: var(--btn-grey-bg);
      color: var(--form-input-label-color);
      font-size: 11px;
      padding: 32px 32px 0;
      transition: unset;
      font-weight: 500;
    }
    .ant-table-thead
      > tr
      > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      display: none;
    }
    .ant-table-tbody > tr > td {
      border-bottom: none;
      font-size: 12px;
      font-weight: bold;
      color: var(--invoice-card-id-color);
      padding: 16px 32px;
      p {
        margin-bottom: 0;
      }
    }
    .ant-table-container table > thead > tr:first-child th:first-child {
      border-top-left-radius: 8px;
    }
    .ant-table-container table > thead > tr:first-child th:last-child {
      border-top-right-radius: 8px;
    }
    .ant-table-container {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .ant-table {
      border-radius: 8px;
      background-color: var(--btn-grey-bg);
    }
    .ant-table-tbody > tr.ant-table-row:hover > td,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background-color: transparent;
    }
    .ant-table-footer {
      padding: 24px 32px;
      background-color: var(--invoice-summary-footer-bg);
      border-radius: 0 0 8px 8px;
      margin-top: 24px;
      .total-amount {
        display: flex;
        justify-content: space-between;
        color: #fff;
        align-items: center;
        p:first-of-type {
          font-size: 11px;
          font-weight: 500;
        }
        p:last-of-type {
          font-size: 24px;
          font-weight: bold;
          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  .responsive-footer {
    @media (min-width: 769px) {
      display: none;
    }
    background-color: var(--invoice-card-bg);
    padding: 21px 24px 22px;
    box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
    position: absolute;
    right: 0;
    left: 0;
    bottom: -340px;
    .cta-btns {
      display: flex;
      justify-content: center;
      gap: 8px;
    }
  }
}
