:root {
  --voilet: #7c5dfa;
  --violet-lighter: #9277ff;
  --navy: #252945;
  --navy-lighter: #f9fafe;
  --grey: #dfe3fa;
  --grey-darker: #888eb0;
  --dark-blue: #0c0e16;
  --red: #ec5757;
  --red-lighter: #ff9797;
  --background-light: #f8f8fb;
  --background-dark: #141625;
}

[data-theme="dark"] {
  --btn-default-bg: #7c5dfa;
  --btn-default-hover: #9277ff;
  --btn-grey-bg: #252945;
  --btn-grey-color: #dfe3fa;
  --btn-grey-hover: #fff;
  --btn-dark-bg: #373b53;
  --btn-dark-color: #dfe3fa;
  --btn-dark-hover: #1e2139;
  --btn-danger-bg: #ec5757;
  --btn-danger-hover: #ff9797;
  --form-input-border: #1e2139;
  --form-input-bg: #252945;
  --form-input-border-active: #9277ff;
  --form-input-color: #fff;
  --form-input-label-color: #dfe3fa;
  --date-picker-bg: #252945;
  --date-picker-color: #dfe3fa;
  --date-picker-boxshadow: rgba(0, 0, 0, 0.25);
  --header-bg: #1e2139;
  --layout-bg: #141625;
  --form-main-title-color: #fff;
  --form-title-color: #7c5dfa;
  --form-list-title-color: #777f98;
  --invoice-card-id-color: #fff;
  --invoice-card-id-hash-color: #888eb0;
  --invoice-card-bg: #1e2139;
  --invoice-card-date: #dfe3fa;
  --invoice-card-date-span: #dfe3fa;
  --invoice-card-name: #fff;
  --invoice-card-amount: #fff;
  --invoice-card-status-pending-color: #ff8f00;
  --invoice-card-status-pending-bg: rgb(255, 143, 0, 0.06);
  --invoice-card-status-paid-bg: rgb(51, 214, 159, 0.06);
  --invoice-card-status-paid-color: #33d69f;
  --invoice-card-status-draft-bg: rgb(223, 227, 250, 0.06);
  --invoice-card-status-draft-color: #dfe3fa;
  --invoices-list-page-title-color: #fff;
  --invoices-list-page-subtitle-color: #dfe3fa;
  --empty-result-title-color: #fff;
  --empty-result-subtitle-color: #dfe3fa;
}
[data-theme="light"] {
  --btn-default-bg: #7c5dfa;
  --btn-default-hover: #9277ff;
  --btn-grey-bg: #f9fafe;
  --btn-grey-color: #7e88c3;
  --btn-grey-hover: #dfe3fa;
  --btn-dark-bg: #373b53;
  --btn-dark-color: #888eb0;
  --btn-dark-hover: #0c0e16;
  --btn-danger-bg: #ec5757;
  --btn-danger-hover: #ff9797;
  --form-input-border: #dfe3fa;
  --form-input-bg: #fff;
  --form-input-border-active: #9277ff;
  --form-input-color: #0c0e16;
  --form-input-label-color: #7e88c3;
  --date-picker-bg: #fff;
  --date-picker-color: #0c0e16;
  --date-picker-boxshadow: rgba(72, 84, 159, 0.25);
  --header-bg: #373b53;
  --layout-bg: #f8f8fb;
  --form-main-title-color: #0c0e16;
  --form-title-color: #7c5dfa;
  --form-list-title-color: #777f98;
  --invoice-card-id-color: #0c0e16;
  --invoice-card-id-hash-color: #7e88c3;
  --invoice-card-bg: #fff;
  --invoice-card-date: #888eb0;
  --invoice-card-date-span: #7e88c3;
  --invoice-card-name: #858bb2;
  --invoice-card-amount: #0c0e16;
  --invoice-card-status-draft-bg: rgb(55, 59, 83, 0.06);
  --invoice-card-status-draft-color: #373b53;
  --invoice-card-status-pending-color: #ff8f00;
  --invoice-card-status-pending-bg: rgb(255, 143, 0, 0.06);
  --invoice-card-status-paid-bg: rgb(51, 214, 159, 0.06);
  --invoice-card-status-paid-color: #33d69f;
  --invoices-list-page-title-color: #0c0e16;
  --invoices-list-page-subtitle-color: #888eb0;
  --empty-result-title-color: #0c0e16;
  --empty-result-subtitle-color: #888eb0;
}
