* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  overflow-y: auto;
  margin: 0;
  position: relative;

}
html {
  font-size: 12px;
  height: 100%;
}
